.arrowDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #5856d6;
    border-right: 5px solid #5856d6;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:hover{
    cursor: pointer;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
